include setup.py
include pavement.py
include paver-minilib.zip
include pickit-cl.bat
recursive-include data *
recursive-include output *
recursive-include lib *
recursive-exclude data *.py
recursive-exclude __pycache__ *
recursive-exclude lib/__pycache__ *
