[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

requests = "*"
"pypiwin32" = "*"
simplejson = "*"
demjson = "*"
zerorpc = "*"
"bs4" = "*"
pytest = "*"


[dev-packages]

